@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBg: #121212;
  --secondaryBg: #202123;
  --primaryAccent: #7f1b1b;
  --secondaryAccent: #212f52;
  --textLight: snow;
  --textLighter: #b3b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--primaryBg);
  color: var(--textLight);
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 25px;
}
