@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBg: #1e1e1e;
  --primaryAccent: #7f1b1b;
  --secondaryAccent: #212f52;
  --textLight: snow;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--primaryBg);
  color: var(--textLight);
}
